body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 575;
    background-image: url('assets/shop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blur {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}

.flex-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    gap: 10px;
    width: 47.7%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.flex-container::-webkit-scrollbar, .category::-webkit-scrollbar {
    display: none;
}

.flex-container > div {
    position: relative;
    display: flex;
    gap:10px;
    flex-direction: column;
    color: #2D4663;
    margin: 10px;
    padding:2px;
    text-align: center;
    align-items: center;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 200px;
    width: 150px;
    background-image: url("assets/body2.png");
    background-size: cover;
    background-repeat: no-repeat;

    /* text wrap */
    overflow-wrap: break-word;
    white-space: normal;
}

.category {
    position:absolute;
    overflow: auto;
    height:85.7%;
    display: flex;
    flex-direction: column;
    margin-left:-3vw;
    z-index: 99;
}

.botlog {
    margin:10px;
    height:75px;
    width:300px;
    text-align: right;
    background-color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.botlog2 {
    color:rgb(255, 255, 110);
    margin:10px;
    height:75px;
    width:300px;
    text-align: right;
    background-color: rgb(0, 39, 73);
    transform: skew(-15deg);
    border-radius: 10px;
}

.botlog2 > center > h2 {
    transform: skew(15deg);
}

.parallelogram {
    position:absolute;
    top:135px;
    width: 120px;
    height: 60px;
    background: #76dcff;
    transform: skew(-15deg);
    border-radius: 10px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-image: url("assets/button.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.parallelogram > p {
    transform: skew(15deg);
    font-size: 20px;
    color: #1c3046;
    position: relative;
    bottom: 25px;
}

.pricename {
    position: relative;
    top: -10px;
    text-align: right;
    padding-right: 10px;
    width: 75%;
    background-color: #1c3046;
    border-radius: 3px;
}

.pricename > p {
    transform: skew(15deg);
    color: white;
}

.cred {
    width: 40px;
    height: auto;
    position: absolute;
    left: -15px;
    top: -7px;
    transform: skew(15deg);
}

.desk {
    width:100vw;
    position:fixed;
    bottom:-23vh;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width:90%;
}

.wrapper {
    display: flex;
    justify-content: center;
}